 <md-toolbar>
  <div class="md-toolbar-tools">   
    <h2 ng-bind="heading"></h2>        
  </div>
</md-toolbar>


<md-content layout-padding>

<form ng-submit="frmEmp.$valid &&  processEmp()" layout="column" name="frmEmp">

    <md-input-container class="md-block">
        <label>Name</label>
        <input required type="text" md-no-asterisk name="name" ng-model="employee.name">
        <div ng-messages="frmEmp.name.$error" role="alert" md-auto-hide="false">
            <p ng-message="required">Please enter the employee name</p>
        </div>
    </md-input-container>

    <md-input-container class="md-block">
        <label>Email</label>
        <input type="email" required md-no-asterisk name="email" ng-model="employee.email">
        <div ng-messages="frmEmp.email.$error" ng-if='frmEmp.email.$dirty' multiple md-auto-hide="false">
            <p ng-message="maxlength" class="text-danger">Max length is 40.</p>
            <p ng-message="required" class="text-danger">Please enter the employee email</p>
        </div>
    </md-input-container>

    <md-input-container class="md-block">
        <label>Gender</label>
        <md-select name="gender" ng-model="employee.gender" required>
            <md-option value="male">Male</md-option>
            <md-option value="female">Female</md-option>
          </md-select>
        <div ng-messages="frmEmp.gender.$error" ng-if='frmEmp.gender.$dirty' multiple md-auto-hide="false">
            <p ng-message="required" class="text-danger">Please select the gender</p>
        </div>
    </md-input-container>

    <md-input-container class="md-block">
        <label>Department</label>
          <md-select name="department" ng-model="employee.department" required>
            <md-option ng-repeat="dept in departments" ng-value="dept">
              {{dept}}
            </md-option>
          </md-select>
        <div ng-messages="frmEmp.gender.$error" ng-if='frmEmp.gender.$dirty' multiple md-auto-hide="false">
            <p ng-message="required" class="text-danger">Please select the gender</p>
        </div>
    </md-input-container>

    <md-input-container class="md-block">
        <label>Role</label>
          <md-select name="role" ng-model="employee.role" required>
            <md-option ng-repeat="role in roles" ng-value="role">
              {{role}}
            </md-option>
          </md-select>
        <div ng-messages="frmEmp.role.$error" ng-if='frmEmp.role.$dirty' multiple md-auto-hide="false">
            <p ng-message="required" class="text-danger">Please select your role</p>
        </div>
    </md-input-container>

    <md-input-container class="md-block">
        <label>Salary (INR)</label>
        <input type="number" name="salary" ng-model="employee.salary">
        <div ng-messages="frmEmp.salary.$error" ng-if='frmEmp.salary.$dirty' multiple md-auto-hide="false">
            <p ng-message="required" class="text-danger">Please enter your salary</p>
        </div>
    </md-input-container>
    
    <div class="form-group text-left">
        <md-button type="submit" class="md-raised md-primary md-button md-ink-ripple">Submit</md-button>  
    </div>
    <!-- <a ui-sref="base.dashboard" class="btn btn-primary">Login</a> -->
</form>    
<!-- Don't have account? <a ui-sref="signup">Signup</a>  -->
</md-content>
