<md-toolbar class="md-whiteframe-glow-z1 site-content-toolbar _md _md-toolbar-transitions" style="background-color:#abb3e2;">
<div class="md-toolbar-tools">
<h2 class="md-toolbar-item md-breadcrumb md-headline">Employees</h2>
<a ui-sref="base.employee" class="md-primary md-button md-raised md-hue-2 md-button md-ink-ripple">Add Employee</a>
<button class="md-warn md-raised md-hue-2 md-button md-ink-ripple" ng-click="deleteSelected()">Delete selected</button>
<label for="sortemp">Sort By : </label>
<md-select id="sortemp" ng-model="sortbycond" ng-change="sortby(sortv.key)" style="margin:0px">
<md-option ng-repeat="sort in sorts" ng-value="sort.name">{{sort.value}}</md-option>
  </md-select>

</div></md-toolbar>
<div class="clear"></div>
<label class="text-success" ng-if="success">{{success}}</label>
<label class="text-danger" ng-if="error">{{error}}</label>
<div class="clear"></div>
<!-- <table class="table table-striped table-bordered table-hover employee_tbl">
<thead>
  <tr>
    <th>Profile Picture</th>
    <th>Name</th>
    <th>Email</th>
    <th>Department</th>
    <th>Salary</th>
    <th>Action</th>
  </tr>
</thead>
<tbody>
  <tr ng-repeat="emp in employees" class="text-center" ng-click="toggleActive(emp.id)" ng-class="setClass(emp.id)" ng-dblclick="dblClick(emp.id)">
    <td><img src="{{emp.image}}" style="width:150px;max-height:100px;"></td>
    <td ng-bind="emp.name"></td>
    <td ng-bind="emp.email"></td>
    <td ng-bind="emp.department"></td>
    <td ng-bind="emp.salary"></td>
    <td><a ui-sref="base.employee({Id:emp.id})" class="btn btn-primary">Edit</a>&nbsp;&nbsp;<alert-button btn-class="btn btn-danger"></alert-button></td>
  </tr>
</tbody>
</table> 
-->


<span class="col-md-6 no-padding" ng-repeat="emp in employees">
<md-card md-theme="default" md-theme-watch ng-click="toggleActive(emp.id)" ng-class="setClass(emp.id)" ng-dblclick="dblClick(emp.id)">
  <md-card-title>
    <md-card-title-text>
      <span class="md-headline" ng-bind="emp.name"></span>
      <span class="md-subhead"><i ng-bind="emp.role"></i></span>
       <md-divider></md-divider>
      <span class="md-subhead">Email : <b ng-bind="emp.email"></b>
      </span>
      <span class="md-subhead">Department : <b ng-bind="emp.department"></b>
      </span>
      <span class="md-subhead">Salary : <b ng-bind="emp.salary"></b>
      </span>
    </md-card-title-text>
    <md-card-title-media>
       <img src="{{emp.image}}" style="width:100px;height:auto;max-height:100px;max-width:100%;">
    </md-card-title-media>
  </md-card-title>
  <md-card-actions layout="row" layout-align="end center">
    <alert-button ng-click="delete(emp.id ,'Are you sure to delete the employee .?')"  class="md-warn md-raised md-hue-2 md-button md-ink-ripple">Delete
    </alert-button>&nbsp;&nbsp;
    <md-button ui-sref="base.employee({Id:emp.id})" class="md-success md-raised md-hue-2 md-button">Update</md-button>
  </md-card-actions>
</md-card>
</span>

<!-- 
<md-list>
 <md-list-item ng-repeat="emp in employees" class="noright"  ng-click="toggleActive(emp.id)" ng-class="setClass(emp.id)" ng-dblclick="dblClick(emp.id)" aria-label="Test">
      <img width="3" src="{{emp.image}}" style="width:150px;max-height:100px;">
      <span ng-bind="emp.name"></span>
      <span ng-bind="emp.email"></span>
      <span ng-bind="emp.department"></span>
      <span ng-bind="emp.salary"></span>
 </md-list-item>
 </md-list> -->