<p><span class="h1 col-md-4">Employees </span>
<div class="col-md-4">
  <label class="col-md-4" for="sortemp">Sort By : </label>
  <span class="col-md-8"><select id="sortemp" class="form-control" ng-options="sort.value for sort in sorts" ng-model="sortv" ng-change="sortby(sortv.key)"></select></span>
</div>
<div class="col-md-4"><a ui-sref="base.employee" class="btn btn-success pull-left">Add Employee</a> &nbsp;<button class="btn btn-danger pull-right" ng-click="deleteSelected()">Delete selected</button></div>
</p>
<label class="text-success" ng-if="success">{{success}}</label>
<label class="text-danger" ng-if="error">{{error}}</label>
<table class="table table-striped table-bordered table-hover employee_tbl">
<thead>
  <tr>
    <th>Profile Picture</th>
    <th>Name</th>
    <th>Email</th>
    <th>Department</th>
    <th>Salary</th>
    <th>Action</th>
  </tr>
</thead>
<tbody>
  <tr ng-repeat="emp in employees" class="text-center" ng-click="toggleActive(emp.id)" ng-class="setClass(emp.id)" ng-dblclick="dblClick(emp.id)">
    <td><img src="{{emp.image}}" style="width:150px;max-height:100px;"></td>
    <td ng-bind="emp.name"></td>
    <td ng-bind="emp.email"></td>
    <td ng-bind="emp.department"></td>
    <td ng-bind="emp.salary"></td>
    <td><a ui-sref="base.employee({Id:emp.id})" class="btn btn-primary">Edit</a>&nbsp;&nbsp;<a href="" class="btn btn-danger" ng-click="delete(emp.id)">Delete</a></td>
  </tr>  
</tbody>
</table> 