<div class="container-fluid">
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="home">
                <h1 class="h1 text-success">Hi , <span ng-bind="user.name"></span></h1>
                <p class="h3 text-success">
                    Below are your profile details
                </p>
                <hr> 
                <h4><strong>Name  :</strong> <span ng-bind="user.name"></span><h4> 
                <h4><strong>Email :</strong> <span ng-bind="user.email"></span><h4> 
                <h4><strong>Department :</strong> <span ng-bind="user.department"></span><h4> 
                <h4><strong>Role :</strong> <span ng-bind="user.role"></span><h4>
                <h4><strong>Gender :</strong> <span ng-bind="user.gender"></span><h4>
                <h4><strong>Salary :</strong> <span ng-bind="user.salary"></span><h4>
        </div>
    </div>
</div>
<!-- Tab panes -->
