<md-card md-theme="default" md-theme-watch>
    <md-card-title>
      <md-card-title-text>
        <span class="md-headline" ng-bind="user.name"></span>
        <span class="md-subhead" ng-bind="user.role"></span>
        <span class="md-subhead"><b>Department</b>:<span ng-bind="user.department"></span></span>
        <span class="md-subhead"><b>Salary</b>:<span ng-bind="user.salary"></span>
        </span>
      </md-card-title-text>
      <md-card-title-media>
        <div class="md-media-lg card-media"><img src="{{user.image}}" style="width:150px;max-height:100px;"></div>        
      </md-card-title-media>
    </md-card-title>
    <md-card-actions layout="row" layout-align="end center">
      <md-button class="md-raised md-success">Update</md-button>      
    </md-card-actions>
</md-card>
