<div class="login-container">
    <h2>Login</h2>
    <form ng-submit="frmLogin.$valid &&  doLogin()" name="frmLogin">
        <label class="text-success" ng-if="success">{{success}}</label>
        <label class="text-danger" ng-if="error">{{error}}</label>
        <div class="form-group">
            <label for="exampleInputEmail1">Email</label>
            <input type="email" class="form-control" placeholder="Email" name="email" ng-model="user.email" ng-maxlength="40" required>
            <div ng-messages="frmLogin.email.$error" ng-if='frmLogin.email.$dirty'>
                <p ng-message="maxlength" class="text-danger">Max length is 40.</p>
                <p ng-message="required" class="text-danger">Email is required.</p>
            </div>
        </div>
        <div class="form-group">
            <label>Password</label>
            <input type="password" class="form-control" placeholder="Password" name="password" ng-model="user.password" ng-maxlength="40" required>
            <div ng-messages="frmLogin.password.$error" ng-if='frmLogin.password.$dirty'>
                <p ng-message="maxlength" class="text-danger">Max length is 40.</p>
                <p ng-message="required" class="text-danger">Password is required.</p>
            </div>
        </div>
        <div class="form-group text-left">
            <button type="submit" class="btn btn-info">Login</button>  
        </div>
        <!-- <a ui-sref="base.dashboard" class="btn btn-primary">Login</a> -->
    </form>    
    <!-- Don't have account? <a ui-sref="signup">Signup</a>  -->
</div>
